.env
node_modules/
cdk.out/
cdk.context.json
node_modules/
npm-debug.log
yarn-error.log
.pnpm-debug.log
dist/
.env
*.local
.DS_Store
*.log
coverage/
.vscode/
.idea/
*.iml
CameraWebServer/credentials.h
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.so
.Python
env/
venv/
ENV/
ENV*/
venv*/
*.env
.venv
.mypy_cache/
.pytest_cache/
*.log
coverage/
.ipynb_checkpoints/
dist/
build/
.eggs/
*.egg-info/
*.egg
*.log
instance/
docs/_build/
htmlcov/
.vscode/
.idea/
*.iml

# General
*.swp
*~
